<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-header">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ムビログ</a></a>
      </div>
      <div>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "投稿する", new_post_path %></li>
            <li><%= link_to "みんなの投稿", posts_path %></li>
            <li><%= link_to "じぶんの投稿", user_path(current_user) %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
          <div class="navbar-right">
          </div>
          <%= form_with url: search_posts_path, method: :get, local: true, class: "navbar-form navbar-right" do |f| %>
            <%= f.text_field :keyword %>
            <%= f.submit :search , class: "btn btn-primary" %>
          <% end %>
          <p class="navbar-text navbar-right">ようこそ <%= current_user.username %> さん。</p>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>

